version: "3.9"

services:
  redis:
    image: redis:latest
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379" 
    command: ["redis-server", "--save", "20", "1", "--loglevel", "warning"]

  dragonfly:
    image: docker.dragonflydb.io/dragonflydb/dragonfly:latest
    container_name: dragonfly
    restart: unless-stopped
    ports:
      - "6380:6379" 
