# Backend Production Docker Compose

services:
  app:
    build:
      context: ..
      dockerfile: backend/Dockerfile
      target: prod
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
    env_file:
      - .env.production
    depends_on:
      - redis
      - dragonfly
    restart: unless-stopped

  redis:
    image: redis:latest
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"

  dragonfly:
    image: docker.dragonflydb.io/dragonflydb/dragonfly:latest
    container_name: dragonfly
    restart: unless-stopped
    ports:
      - "6380:6379"
