services:
  app:
    build:
      context: ..
      dockerfile: shared/Dockerfile.prod
      target: prod
    container_name: app-container-prod
    ports:
      - "3000:3000" # only backend (frontend served statically)
    env_file:
      - ../backend/.env
    volumes:
      - app_logs:/app/backend/logs
      - /etc/opendkim/keys/trainer.digital.st:/etc/opendkim/keys/trainer.digital.st:ro
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - app-network

  redis:
    image: redis:latest
    container_name: app-redis-prod
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - app-network

  postgres:
    image: postgres:17
    container_name: app-postgres-prod
    restart: unless-stopped
    ports:
      - "5433:5432"
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-formance_db}
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      POSTGRES_HOST_AUTH_METHOD: trust
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  dragonfly:
    image: docker.dragonflydb.io/dragonflydb/dragonfly:latest
    container_name: app-dragonfly-prod
    restart: unless-stopped
    ports:
      - "6380:6379"
    networks:
      - app-network

  redis-commander:
    image: rediscommander/redis-commander:latest
    container_name: app-redis-commander-prod
    environment:
      - REDIS_HOSTS=local:dragonfly:6379
    ports:
      - "8081:8081"
    depends_on:
      - dragonfly
    restart: unless-stopped
    networks:
      - app-network

  mailpit:
    image: axllent/mailpit:latest
    container_name: app-mailpit
    restart: unless-stopped
    ports:
      - "1025:1025" # SMTP
      - "8025:8025" # Web UI
    networks:
      - app-network

volumes:
  postgres_data:
  redis_data:
  app_logs:


networks:
  app-network:
    driver: bridge
